*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background-color: gray;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
    font-size: 24px;
    text-decoration: underline;
}
.content{
    margin-top: 30px;
}
.btn{
    display: none;
}
.btn button{
    background-color: transparent;
    border: none;
}
.btn #login {
    background-color: blue;
    padding: 2px 10px;
    border: 2px solid blue;
    color: whitesmoke;
    border-radius: 10px;

}
.products{
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    margin: 10px 20px 10px 10px;

}
.product{
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(171, 168, 168);
}
.product img{
    width: 100%;
    min-width: 200px;
}

@media (max-width:1000px) {
    .products{
    grid-template-columns: repeat(3,1fr);

    }
}
@media (max-width:700px) {
    .products{
    grid-template-columns: repeat(2,1fr);

    }
    .btn{
        display: block;
    }
    nav ul{
        display: none;
    }
}
@media (max-width:450px) {
    .products{
    grid-template-columns: repeat(1,1fr);

    }
}