*{
    margin: 0;
    padding: 0;
}
.login-form{
    display: grid;
    justify-content: center;
    margin-top: 10px;
}
.login-form h2 {
    text-align: center;
}
.login-form form {
    /* border: 0.5px solid gray; */
    padding: 20px;
    border-radius: 10px;
    box-shadow:  5px 5px 65px gray;
    display: grid;
    row-gap: 20px;
    
}
.login-form form div {
    display: grid;
    justify-content: space-between;
    font-size: 12px;
    row-gap: 2px;
}
.login-form form div input{
    padding: 2px 0;
}
.login-form form div input::placeholder{
    font-size: 10px;
    padding-left: 4px;
}
.login-form form button {
    font-size: 12px;
    font-weight: bold;
    border: none;
    background: linear-gradient(to right, blue,violet);
    padding: 6px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.login-form form div .error {
    font-size: 8px;
    color: red;
}